<h1 class="heading mt-5" id="home">Favori Filmlerim</h1>
<div class="box">
    <ng-container *ngFor="let dizi of dizis">
        <a style="cursor: pointer;" (click)="goToDizi(dizi.name)">
            <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt="">
            <span style="color: white;">
                {{dizi.name}}
            </span>
        </a>
    </ng-container>
</div>

<h1 class="heading mt-5" id="home">Tüm Filmler</h1>
<div class="box">
    <ng-container *ngFor="let dizi of dizis">
        <a style="cursor: pointer;" (click)="goToDizi(dizi.name)">
            <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt="">
            <span style="color: white;">
                {{dizi.name}}
            </span>
        </a>
    </ng-container>
</div>