<mat-toolbar color="primary">
    <span>Film-Dizi</span>
    <span class="example-spacer"></span>
    @if (user) {
    <button mat-button routerLink="admin">Admin</button>
    <button mat-button routerLink="ana-sayfa">Ana Sayfa</button>
    <h2 class="greeting">Hoşgeldin, {{user.name}} {{user.surname}}</h2>
    <button mat-button color="warn" (click)="logOut()">Çıkış Yap</button>
    } @else {
    <button mat-button routerLink="giris-yap">Login</button>
    <button mat-button routerLink="kayıt-ol">Kayıt Ol</button>
    }
</mat-toolbar>