<h1 class="heading mt-5" id="home">Favori Dizilerim</h1>
<div class="box">
    <ng-container *ngFor="let dizi of favoriDizis">
        <!-- TODO : dizi.id olacak -->

        <a style="cursor: pointer;" (click)="goToDizi(dizi.diziName)">
            <button (click)="deleteFav(dizi)" color="warn" mat-button>Favorilerden çıkar</button>
            <img [src]="dizi.diziKapakPath" alt="">
            <span style="color: white;">
                {{dizi.diziName}}
            </span>
        </a>
    </ng-container>
</div>

<h1 class="heading mt-5" id="home">Tüm Diziler</h1>
<div class="box">
    <ng-container *ngFor="let dizi of dizis">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <button *ngIf="check(dizi.name)" (click)="addFavori(dizi.id)" color="primary" mat-button>Favorilere
                Ekle</button>
            <button (click)="goToFragman(dizi.fragmanPath!)" color="primary" mat-button>Fragman İzle</button>

            <a style="cursor: pointer;" (click)="goToDizi(dizi.name)">
                <img [src]="dizi.kapakPath" alt="">
                <span style="color: white;">
                    {{dizi.name}}
                </span>
            </a>
        </div>
    </ng-container>
</div>