<div class="container">
    <div class="row">
        <div class="col-10">
            <ng-container *ngIf="activeBolum">
                <h1 class="text-center py-3">{{dizi.name}}</h1>
                <h3>Bölüm İsmi: {{activeBolum.name}} </h3>
                <video autoplay width="100%" height="100%" type="video/mp4" controls [src]="activeBolum.path"></video>
            </ng-container>
        </div>
        <div class="col-2 mt-5 d-flex justify-content-center align-items-center pt-5 flex-column">
            <h3>Bölümler;</h3>
            <ng-container *ngFor="let bolum of dizi.bolums">
                <button mat-button color="primary" (click)="changeBolum(bolum.name)" class="p-2">{{bolum.name}}</button>
            </ng-container>
        </div>
    </div>
</div>