<div class="container">
    <div class="row">
        <div class="col-10">
            <ng-container *ngIf="activeBolum">
                <h1 class="text-center py-3">{{dizi.name}}</h1>
                <h3>Bölüm İsmi: {{activeBolum.bolum}} </h3>
                <iframe autoplay width="100%" height="100%" type="video/mp4" controls
                    [src]="activeBolum.bolumPath | safe"></iframe>
            </ng-container>
        </div>
        <div class="col-2 mt-5 d-flex justify-content-center align-items-center pt-5 flex-column">
            <h3>Bölümler;</h3>
            <ng-container *ngFor="let bolum of dizi.bolum">
                <button mat-button color="primary" (click)="changeBolum(bolum.bolum)"
                    class="p-2">{{bolum.bolum}}</button>
            </ng-container>
        </div>
    </div>
</div>